.has-sidebar-page.chat-drawer-active .d-header>.wrap .contents {
  grid-template-areas: "lspace extra-info extra-info rspace panel";
}

.desktop-view {
  body.chat-drawer-active :not(.has-full-page-chat) .discourse-root {
    display: grid;
    grid-template-areas: 'header header' 'content chat';
    grid-template-columns: 1fr 500px;
  }

  body.has-sidebar-page .wrap {
    max-width: unset;
  }

  .d-header-wrap {
    grid-area: header;
  }

  #main-outlet-wrapper {
    grid-area: content;
  }

  .chat-drawer-outlet {
    grid-area: chat;
  }

  .chat-drawer-outlet-container {
    position: sticky;
    top: var(--header-offset);
  }

  .chat-drawer {
    height: calc(100vh - var(--header-offset)) !important;
    width: 100% !important;
  }

  .chat-drawer .chat-drawer-container {
    box-shadow: none;
    border-radius: 0px;
  }
  .chat-drawer-header__expand-btn {
    display: none;
  }
}